<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Users" value="Junior,Myers,Mapes,Mastel,Hetrick,O'Leary,Springle,Soto,John,Davis"/>
    <add key="Rounds" value="16"/>
    <add key="Counter" value ="5"/>
  </appSettings>
</configuration>